# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/
test/src/unistd/test.txt
test/src/unistd/test2.txt
test/src/unistd/test3.txt
